MOMA_VERSION=v2.6.0
CORS_ORIGINS="http://localhost:3000,http://localhost:5173"

# AUTH configuration
OIDC_ISSUER=
OIDC_AUDIENCE=
JWKS_TTL_SECONDS=300
PERMISSIONS_GATEWAY_URL=% 

# LLM configuration
LLM_API_BASE=
LLM_API_KEY=
LLM_API_MODEL=
LLM_SSL_VERIFY=false